{% extends 'home/inicial.html' %}

{% block content %}
    <header><h1>Editar Manutenção</h1></header>
   {{manutencao.manutencao}} - {{manutencao.veiculo}} -  {{manutencao.dataAtual}}
    <form action="{% url 'updateManutencao' manutencao.id %}" method="POST" class="meu-formulario" >
        {% csrf_token %}
        <p class="label">Manutencao</p>
        {{ form.manutencao}}
        <p class="label">Veiculo</p>
        {{ form.veiculo}}
        <p class="label">DATA </p>
        <input type="date" name="dataAtual" value="{{datafor}}">
        <p class="label">KM ATUAL</p>
        {{ form.kmAtual}}
        <div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input type="submit" class="input-botao" >  
    </form>
    {% endblock %}