body{
    font-family: Arial, sans-serif;
    color:#fff;
    background-color:#c5c5ce;
    margin: 0;
    padding: 0;

}

/* Define o header */
header{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-size: 20px;
}

/* navbar superior */
.navbar {
    background-image: linear-gradient(to right, #000000, #3533cd);
    overflow:visible;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

/* Estiliza a imagem a direita */
.navbar img {
    float: right;
    margin-right: 20px;
}

/* Estilo para os itens da navbar */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Disposição de cada item na navbar */
.navbar li {
    float: left;
    position: relative;
}

/* Estilização dos itens da navbar*/ 
.navbar a {
    font-family: Arial, sans-serif;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 150px;
}

.navbar a:hover {
    background-color: #555;
}

/* Estilização dos sub-rótulos */
.navbar .sub-menu {
    font-family: Arial, sans-serif;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
}

.navbar li:hover .sub-menu {
    display: block;
}

.navbar .sub-item {
    display: block;
}

.navbar .sub-item a {
    padding: 12px 16px;
}

/* Botão de conecte-se */
.button {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.test{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Define a seção */
section {
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 2px;
    margin-top: 0;
    font-family: 'DM Sans';
    font-size: 15px;
}

p.label {
    color:#ffffff;
    margin: 10px 0;
    display: block;
    font-family: 'Poppins';
    
    font-size:x-large;
    
}

.l{
    margin: 10px 10px;
    display: block;
    font-weight: bold;
    text-align: left;
}

/* Define os campos de input*/
input {
    width: 100%;
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Define o botão de cadastrar */
input#cadastrar{
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
    background-image: linear-gradient(to right, #000000, #3533cd);
    border: 1px; 
    border-radius: 10px;
    padding: 10px;      
    width: 200px; 
    height: 50px;
    cursor: pointer;
    margin-left: 30%;
}
input#cadastrar:hover {
    background: #c5c5ce;
}

/* Define o espaço de aviso inferior*/
#res{
    color:white;
    font-family: 'Poppins';
}


.meu-formulario {
    font-family: 'Poppins';
    width: 300px;
    margin: 10 auto;
    margin-bottom: 10;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

input.label {
    width: 100%;
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-botao {
    
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
    background-image: linear-gradient(to right, #000000, #3533cd);
    border: 1px; 
    border-radius: 10px;
    padding: 10px;      
    width: 200px; 
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
}
.input-botao:hover {
    background-image: linear-gradient(to right, #000000, #3633cdd0);
}



input[type="text"],
input[type="password"],
input[type="Email"]{
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
}


/* Mensagens de sucesso */
.success-message {
    color: rgb(0, 255, 34);
}

/* Mensagens de erro */
.error-message {
    color: rgb(255, 0, 0);
}

/* Mensagens de aviso */
.warning-message {
    color: rgb(255, 238, 0);
}

/* Mensagens informativas */
.info-message {
    color: rgb(94, 255, 0);
}
